* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #262626;
}

.container {
  width: 90%;
  margin: 0 auto;
}


/* ================ 
    Main navbar   
================ */
.menu {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75em;
}

.menu ul {
  display: flex;
  gap: 1em;
}

.menu .left-menu {
  flex-grow: 1;
  margin-left: 1em;
}

.menu .logo {
  width: 110px;
}

.menu > ul a {
  font-size: .85rem;
  padding-bottom: 2px;
}
.menu > ul a:hover {
  border-bottom: 1px solid #262626;
}


/* ================ 
      Banner  
================ */
.banner {
  padding: .5em 0;
  background-color: #0067b8;
  text-align: center;
}

.banner:hover {
  outline: 1px dashed #262626;
}

.banner a {
  color: #fafafa;
  font-size: .85em;
}

.banner i {
  color: #bbd6ec;
  font-size: .65em;
  margin-left: 5px;
}

.banner a:hover {
  border-bottom: 1px solid #fafafa;
}


/* ================ 
      Slideshow  
================ */
.slideshow {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
}

.slideshow img {
  width: 100%;
}

.slideshow .promo-text {
  /* border: 1px solid red; */
  margin: auto;
}

.promo-text .badge {
  display: inline-block;
  background-color: #9bf00b;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.promo-text h3 {
  font-size: 1.3rem;
  margin-bottom: .75em;
}

.promo-text .text {
  font-size: .95rem;
  margin-bottom: 2em;
}

.promo-text .btn-primary {
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}

.promo-text .btn-secondary {
  color: #000;
  padding: 5px 20px;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}


/* ================ 
    Products  
================ */
.products {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-block: 5em;
}

.products div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  height: 130px;
  /* border: 1px solid red; */
}

.products div img {
  display: block;
  width: 45px;
}

.products div a {
  text-align: center;
  margin-top: 10px;
  color: #0067b8;
  text-decoration: underline;
  text-decoration-color: #0067b8;

}

/* ================ 
    Cards  
================ */
.cards {
  display: flex;
  gap: 1.5em;
  margin-bottom: 3em;
}

.card p {
  font-size: .90rem;
}

.card a {
  display: block;
  margin-top: 1em;
  color: #0067b8;
  font-weight: bold;
}

.card i {
  margin-left: 10px;
  font-size: 13px;
  color: #0067b8;
}

.card a:hover {
  text-decoration: underline;
  text-decoration-color: #0067b8;
  text-decoration-line: 10px;
}
